* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #548687;
}

.msg-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 1rem;
  animation: fadeIn 0.5s;
  width: 100%;
  z-index: 1;
}

.msg-container.show {
  display: block;
  visibility: visible;
}

#msg {
  color: #ffffc7;
  font-size: 6vmin;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 5rem; /* Add space between msg and game */
}

.game-container {
  margin-bottom: 20px;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5vmin;
  width: 60vmin;
  height: 60vmin;
}

.box {
  background-color: #ffffcf;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  font-size: 8vmin;
  color: #552120;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  line-height: 1;
  height: 18vmin;
  width: 18vmin;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}
#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
